.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(ellipse at 20% 20%, #35234b 0%, transparent 70%),
    radial-gradient(ellipse at 60% 20%, #2975bf 0%, transparent 70%),
    radial-gradient(ellipse at 100% 20%, #3d54b1 0%, transparent 70%),
    radial-gradient(ellipse at 100% 100%, #9f3c54 0%, transparent 70%),
    radial-gradient(ellipse at 20% 100%, #362d6f 0%, transparent 70%);
  background-blend-mode: screen;
  // margin: -10px;

  .signup-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  .signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .input-group {
    margin-bottom: 15px;
  }

  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .checkbox {
    display: flex;
    align-items: center;
  }

  .checkbox input {
    margin-right: 10px;
  }

  .signup-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .signup-btn:hover {
    background: linear-gradient(90deg, #0072ff, #00c6ff);
  }

  .login-link {
    text-align: center;
    margin-top: 15px;
  }

  .login-link a {
    color: #0072ff;
    text-decoration: none;
  }

  .login-link a:hover {
    text-decoration: underline;
  }
}
