.sales-header-container {
  background-color: rgb(135, 182, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vw;
  min-height: 6vw;

  .logo {
    width: 20vw;
    margin-left: 2%;
  }

  .function {
    width: 70%;
    color: white;
    margin-left: 20%;

    button {
      border-radius: 20px;
      margin-right: 5%;
      width: 15%;
    }
  }
}
