.admin-container {
    background-color: #E6F9FD;
    display: flex;
    height: 100%;
    // margin: -10px;
    min-height: 100vh;
    
    .logo {
        width: 15vw;
        height: 5vh;
        margin-top: 5%;
    }

    .admin-container-left {
        width: 15%;
        margin-left: 10px;
    }

    .dashboard {
        background-color: #C3F4FD;
        color: #01428E;
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 20px;
        margin: 20px;
    }

    .modules-information button {
        background-color: transparent;
        color: black;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        height: 50px;
        margin: 20px;
    }

    .modules-information button:hover {
        background-color: #C3F4FD;
        color: #01428E;
    }

    .modules-information button {
        border-radius: 20px;
    }

    .admin-container-right {
        background-color: #C3F4FD;
        margin: 0 0 30px 30px;
        width: 100%;
        border-radius: 20px;
        justify-content: space-between;

    }

    .header {
        display: flex;
        justify-content: space-between;
        background-color: #C3F4FD;
    }

    .header-right {
        margin-right: 30px;
    }

    .header h3 {
        margin: 20px;
    }

    .dashboard-info {
        background-color: white;
        color: #01428E;
    }

    .dashboard-info h2 {
        margin-left: 30px;
    }
}