.rdrMonth {
    width: 280px;
}

.close-button {
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.license-close-btn:hover {
    cursor: pointer;
}